.app-shell {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
  min-width: 0;
  margin-left: 0;
  padding: 56px 0 0 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .app-content {
    margin-left: var(--sidebar-width);
    padding-top: 0;
  }
}
