.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 270px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 270px;
  flex-grow: 1;
  display: flex;
}
