.home-container {
  height: 100vh;
  background: url('../../assets/homeBackround.png') no-repeat center center/cover;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}



/* Top Right Buttons */
.top-right {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 15px;
}

/* Transparent Button Style */
.home-btn {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid white;
  background: transparent;
  color: #0067E0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-btn:hover {
  background: white;
  color: black;
}
