.home-container {
  height: 100vh;
  background: url('../../assets/homeBackround.png') no-repeat center center/cover;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}



/* Top Right Buttons */
.top-right {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Transparent Button Style */
.home-btn {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid white;
  background: transparent;
  color: #0067E0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .home-btn {
    padding: 10px 20px;
    font-size: 18px;
  }
}

.home-btn:hover {
  background: white;
  color: black;
}
