/* .signup-container {
  min-height: 100vh;
  background: #383E7A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-card {
  width: 80%;
  border: solid 1px #383E7A;
  /* max-width: 800px; */
  /* border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: hidden;
}


.avatar-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #6e8efb;
  background: #fff;
  padding: 2px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-control {
  border-radius: 8px;
  padding: 6px 10px; /* Reduced padding */
  /* font-size: 14px; /* Smaller font */
/* } 

.btn-signup {
  background: #383E7A !important;
  border: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-signup:hover {
  background: #202456 !important;
}

.text-primary {
  font-weight: bold;
  cursor: pointer;
}

.text-primary:hover {
  text-decoration: underline;
}

.signup-img{
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-check-input {
  transform: scale(1.1);
}

.form-check-label {
  font-size: 14px;
  margin-left: 5px;
}

 */ 
